h1, h2, h3, h4, h5, h6, p {
    font-family: sans-serif;
}

body {
    margin:0px;
}
#topDiv {
    background-color: navy;
    text-align: center;
    padding:1px;
    color: white;
    font-size: 12px;
}
.wrapper {
    background-color: blue;
    margin: 0px;
    width: 200px;
}
.sidebar-options {
    background-color:blue;
    margin: 0px;
    color: white;
    font-size: 10px;
    width: 100px;
}
.fT::first-letter {
    color: lightskyblue;
}