h1, h2, h3, h4, h5, h6, p {
    font-family: sans-serif;
}

body {
    margin:0px;
}
#topDiv {
    background-color: gray;
    text-align: center;
    padding:1px;
    color: white;
    font-size: 12px;
}
.wrapper {
    background-color: darkgray;
    height: 100%;
    margin: 0px;
    width: 200px;
    border-radius: 5px;
}
.sidebar-options {
    text-align: center;
    background-color: whitesmoke;
    margin:0px;
    font-size: 20px;
    border-radius: 10px;
    height: 50px;
    width: 200px;
}
